behave==1.2.6
behave-auto-mock==0.0.6
behave-django==1.3.0
colorama==0.3.8
contextlib2==0.5.5
cucumber-tag-expressions==1.1.1
Django==2.2
djangorestframework==3.9.3
mock==2.0.0
parse==1.12.0
parse-type==0.4.2
pbr==5.2.0
pytz==2019.1
six==1.12.0
sqlparse==0.3.0
